body
{
    background-color:  #1f2a44; 
    color: whitesmoke; 
    font-family: Optima;
}

h2{
    color:   #c8c5f3
    ;

}

.navbar {
    min-height:20px !important;
 }


a:link {
    color:   #80d1b4  ;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:   #80d1b4   ;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color:   #80d1b4   ;
    background-color: transparent;
}
